@model List<TeacherModel>

@{
    Layout = "_Layout";
}

<html>
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/teachers.css" />

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var reportsElement = document.getElementById("teachers");
            reportsElement.style.color = "aliceblue"; 
        });
    </script>
</head>
<body>
   <div class="button-container">
         <button type="button" id="addTeacherButton" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Добавить</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">Фильтр</button>
        <button type="button" id="clearFilterButton" class="btn btn-danger" style="display: none;">Очистить фильтр</button>
    </div>

    <table id="teacherTable" class="table">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Ник</th>
                <th>Должность</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                            <tr data-id="@teacher.TeacherID">
                            <td>@teacher.LastName</td>
                            <td>@teacher.FirstName</td>
                            <td>@teacher.MiddleName</td>
                            <td>@teacher.CodeforcesNickname</td>
                            <td>@teacher.Position</td>
                            <td class="actions-cell">
                           <button type="button" class="btn btn-primary edit-trigger" data-toggle="modal" data-target="#editModal" data-teacher-id="@teacher.TeacherID">Изменить</button>
                           <button type="button" class="btn btn-danger" data-id="@teacher.TeacherID" onclick="deleteTeacher(this.getAttribute('data-id'))">Удалить</button>
                            </td>
                         </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Добавить учителя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label for="addLastName">Фамилия</label>
                            <input type="text" class="form-control" id="addLastName" placeholder="Введите фамилию" required>
                             <div id="addLastNameError" class="error-message"></div>
                        </div>
                        <div class="form-group">
                            <label for="addFirstName">Имя</label>
                            <input type="text" class="form-control" id="addFirstName" placeholder="Введите имя" required>
                             <div id="addFirstNameError" class="error-message"></div>
                        </div>
                        <div class="form-group">
                            <label for="addMiddleName">Отчество</label>
                            <input type="text" class="form-control" id="addMiddleName" placeholder="Введите отчество" required>
                            <div id="addMiddleNameError" class="error-message"></div>
                        </div>
                        <div class="form-group">
                            <label for="addNickname">Ник</label>
                            <input type="text" class="form-control" id="addNickname" placeholder="Введите ник" >
                            <div id="addNicknameError" class="error-message"></div>
                        </div>
                        <div class="form-group">
                            <label for="addPosition">Должность</label>
                            <input type="text" class="form-control" id="addPosition" placeholder="Введите должность" required>
                             <div id="addPositionError" class="error-message"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">       
                    <button type="button" id="addTeacherFromModal" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Изменить учителя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                      <input type="hidden" id="teacherId" value="" />
                                 <div class="form-group">
                                    <label for="editLastName">Фамилия</label>
                                    <input type="text" class="form-control" id="editLastName" placeholder="Введите фамилию" required>
                                    <div id="editLastNameError" class="error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="editFirstName">Имя</label>
                                    <input type="text" class="form-control" id="editFirstName" placeholder="Введите имя" required>
                                    <div id="editFirstNameError" class="error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="editMiddleName">Отчество</label>
                                    <input type="text" class="form-control" id="editMiddleName" placeholder="Введите отчество" required>
                                    <div id="editMiddleNameError" class="error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="editNickname">Ник</label>
                                    <input type="text" class="form-control" id="editNickname" placeholder="Введите ник">
                                    <div id="editNicknameError" class="error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="editPosition">Должность</label>
                                    <input type="text" class="form-control" id="editPosition" placeholder="Введите должность" required>
                                    <div id="editPositionError" class="error-message"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" id="saveChangesBtn" class="btn btn-primary">Сохранить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>


          <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="filterModalLabel">Фильтр</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="lastName">Фамилия</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Введите фамилию">
                            </div>
                            <div class="form-group">
                                <label for="firstName">Имя</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Введите имя">
                            </div>
                            <div class="form-group">
                                <label for="middleName">Отчество</label>
                                <input type="text" class="form-control" id="middleName" placeholder="Введите отчество">
                            </div>
                            <div class="form-group">
                                <label for="nickname">Ник</label>
                                <input type="text" class="form-control" id="nickname" placeholder="Введите ник">
                            </div>
                            <div class="form-group">
                                <label for="position">Должность</label>
                                <input type="text" class="form-control" id="position" placeholder="Введите должность">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="applyFilter()">Применить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
      <script src="~/js/teachers.js"></script>
</body>
</html>
